.cm-s-ipython, .CodeMirror-cursor {border-left: 3px solid #838184 !important;}

.cm-s-ipython .CodeMirror-matchingbracket { color: pink !important;}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-tag):not(.cm-word) {
	 background: rgba(255, 0, 0) !important;
}

.MathJax_Display {
	color: lightgrey	
}

img {
	filter: invert(1)
}

